@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ff8e32;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.p-2 {
  padding: 0.5rem;
}

.p-5 {
  padding: 1.25rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-center {
  text-align: center;
}

.tracking-wide {
  letter-spacing: 0.05em;
}

.w-full {
  width: 100%;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}

.transition-transform {
  transition: transform 0.2s;
}
